@layer base {
	/* Target the HTML and BODY elements directly */
	html,
	body {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Target the pseudo-elements */
	html::-webkit-scrollbar,
	body::-webkit-scrollbar {
		display: none;
	}
}
